.bg {
    background: linear-gradient(45deg,#c1efa8,#59c779);
    height: 100%;
}

.bg-image {
    margin: auto;
    background-image: url("../assets/before-connect.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: Floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 100%;
    height: 100%;
}

.bg-over-image {
    margin: auto;
    background-image: url("../assets/after-connect.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;
}

.bg-over-image-wrapper {
    margin: auto;
    background-image: url("../assets/after-connect-floaters.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;
}


@-webkit-keyframes Floating {
    0% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
    65% {
        transform: translate(0, -10px) rotate(0.001deg);
    }
    100% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
}

@keyframes Floating {
    0% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
    65% {
        transform: translate(0, -10px) rotate(0.001deg);
    }
    100% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
}

