.bg {
    background: linear-gradient(45deg, #c1efa8, #59c779);
    height: 100%;
    background-attachment: fixed;
}

.bg-image {
    margin: auto;
    background-image: url("../assets/before-connect.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: Floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.bg-over-image {
    margin: auto;
    background-image: url("../assets/after-connect.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.bg-over-image-wrapper {
    margin: auto;
    background-image: url("../assets/after-connect-floaters.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.contact-us {
    padding: 100px 0px;
    text-align: center;
    z-index : 2;
}

.padding {
    padding: 20px;
}

.name {
    color: #5f5f5f;
}

.name_head {
    color: #3c3c3c;
}

.margin {
    margin: 0px;
    font-size: 18px;
}

img {
    vertical-align: middle;
}

h5 {
    font-size: 20px !important;
    font-weight: 400 !important;
}

@-webkit-keyframes Floating {
    0% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
    65% {
        transform: translate(0, -10px) rotate(0.001deg);
    }
    100% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
}

@keyframes Floating {
    0% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
    65% {
        transform: translate(0, -10px) rotate(0.001deg);
    }
    100% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
}

