.footer {
    padding: 10px;
    background-color: black;
}

.footer-link {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: white;
    padding: 10px;
    letter-spacing: 1px;
    font-size: 13px;
}

.footer-link:hover {
    color: red;
}

.footer-icon {
    color: white;
    padding-right: 15px;
}

.footer-icon:hover {
    color: red;
}

.footer-synapse-icon-image {
    width: 50px;
    margin: 10px;
}