/********************************************************
*                                                       *
*                          FOOTER                       *
*                                                       *
*********************************************************/
footer.do-footer{
    background-color: #343434;
}

/*--------
Footer Top
---------*/
.link_effect a
{
  position: relative;
  color: orange;
  text-decoration: none;
}

.link_effect li{
    display:inline-block;
    width: 49%;
}

.link_effect a:hover
{
   color: #D73313 !important; 
}

.link_effect a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  margin-bottom:-5px;
  background-color: #D73313;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.link_effect a:hover:before {
  visibility: visible;
  color:#D73313 !important;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.divider-left{
	margin: 10px 0px -2px;
	background: #fbf4f4;
	height:4px;
	width:70px;
	display:block;
}


footer.do-footer .do-footer-top{
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 0px;
    border-bottom: 1px solid #373737;
}

footer.do-footer .do-footer-top .do-footer-widget{}

footer.do-footer .do-footer-top .do-footer-widget h3.do-footer-widget-header{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #ffffff;
    margin-top: 0;
    margin-bottom: 35px;
	border-bottom: 1px solid #dadada;
    text-transform: uppercase;
}


footer.do-footer .do-footer-top .do-footer-widget ul li a{
    color: #717171;
	border-bottom: 1px solid transparent;
    -webkit-transition: color .3s;
       -moz-transition: color .3s;
        -ms-transition: color .3s;
         -o-transition: color .3s;
           /* transition: color .3s;*/
		   transition: border-color linear 1s;
}

footer.do-footer .do-footer-top .do-footer-widget ul li a:hover{
    color: #fc7f0c;
	/*border-color: RED;*/
	}
 

/*
    About Us Widget
*/
footer.do-footer .do-footer-top .do-footer-about-widget .do-footer-logo-wrapper{
    overflow: hidden;
    margin-bottom: 30px;
    line-height: 0.7;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-footer-logo-wrapper a{
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-footer-logo-wrapper a img{}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address{}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul{}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul li{
    position: relative;
    padding-left: 20px;
    padding-bottom: 13px;
    color: #717171;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul li:last-child{
    padding-bottom: 0;
}

footer.do-footer .do-footer-top .do-footer-about-widget .do-company-address ul li i{
    font-size: 13px;
    color: #444444;
    position: absolute;
    left: 0;
    top: 3px;
}

/*
    About Link & Link Widget
*/
footer.do-footer .do-footer-top .do-footer-link-widget ul,
footer.do-footer .do-footer-top .do-about-link-widget ul{}

footer.do-footer .do-footer-top .do-footer-link-widget ul li,
footer.do-footer .do-footer-top .do-about-link-widget ul li{
    margin-bottom: 10px;
}

footer.do-footer .do-footer-top .do-footer-link-widget ul li:last-child,
footer.do-footer .do-footer-top .do-about-link-widget ul li:last-child{
    margin-bottom: 0;
}


/*
    Flickr Widget
*/
footer.do-footer .do-footer-top .do-flickr-widget #flickr-gallery{
    overflow: hidden;
}

footer.do-footer .do-footer-top .do-flickr-widget #flickr-gallery li{
    width: 70px;
    height: 70px;
    margin: 0 2px 2px 0;
    float: left;
    list-style: none;
}

footer.do-footer .do-footer-top .do-flickr-widget #flickr-gallery li img{
    width: 100%;
}


/*------------
Footer Bottom
------------*/
footer.do-footer .do-footer-bottom{
    text-align: center;
    padding: 10px 0;
}

footer.do-footer .do-footer-bottom a.do-footer-author-name{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #444444;
    letter-spacing: 8px;
    text-transform: uppercase;
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

/************************* End **************************/


/* * * * * * * * * * * * * * * * * * * * * * * * * * * * 
                    SOCIAL LINK SECTION
* * * * * * * * * * * * * * * * * * * * * * * * * * * */
.do-social-link-section{
    background-color: #373737;
    overflow: hidden;
}

.do-social-link-section ul{}

.do-social-link-section a{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: #c0c0c0;
    line-height: 30px;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    letter-spacing: 6px;
    text-transform: uppercase;
    float: left;
    text-align: center;
    width: 25%;
    padding: 30px 0;
    border-right: 1px solid #333333;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
        -ms-transition: all .35s;
         -o-transition: all .35s;
            transition: all .35s;
}

.do-social-link-section a:first-child{
    border-left: 1px solid #333333;   
}

.do-social-link-section a span{
    width: 30px;
    height: 30px;
    border: 1px solid #575757;
    margin-right: 15px;
    text-align: center;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
         -o-border-radius: 50%;
            border-radius: 50%;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
        -ms-transition: all .35s;
         -o-transition: all .35s;
            transition: all .35s;
}

.do-social-link-section a span i{
    font-size: 16px;
    color: #575757;
    line-height: 29px;
    padding-left: 5px;
    -webkit-transition: all .35s;
       -moz-transition: all .35s;
        -ms-transition: all .35s;
         -o-transition: all .35s;
            transition: all .35s;
}

.do-social-link-section a:hover{
    color: #ffffff;
}

.do-social-link-section a:hover span{
    border-color: #ffffff;
}

.do-social-link-section a:hover span i{
    color: #ffffff
}

/* FACEBOOK */
.do-social-link-section a.do-facebook:hover{
    background-color: #3b5998;
}

/* YouTube */
.do-social-link-section a.do-youtube:hover{
    background-color: #ff0000;
}

/* Instagram */
.do-social-link-section a.do-instagram:hover{
    background-color: #e95950;
}


/* Gmail */
.do-social-link-section a.do-gmail:hover{
    background-color: #e95950;
}




@font-face {
    font-family: myFirstFont;
    src: url(../assets/press_start_2p/PressStart2P.ttf);
    font-weight: bold;
}

.bg {
    background-color: black;
    height: 100%;
    /*animation: bright-rotate 3s both infinite;*/
}

.press-start {
    text-align: center;
    font-family: myFirstFont;
    font-size: 24px;
    margin: auto;
    position: absolute;
    bottom: 25%;
    left : 0;
    right : 0;
    color: white;
}

.bg-blur-image {
    background-image: url("../assets/synapse_padding_after.png");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: Floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-filter: blur(60px);
    filter: blur(60px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg-blur-image-2 {
    background-image: url("../assets/synapse_padding_after.png");
    height: 60%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: Floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    -webkit-filter: blur(60px);
    filter: blur(60px);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.bg-image {
    margin: auto;
    background-image: url("../assets/giffy.gif");
    height: 90%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    animation-name: Floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.bg-over-image {
    position: absolute;
    margin: auto;
    background-image: url("../assets/synapse_padding_after.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    opacity: 0;
}

.mid-divison {
    height: 400px;
    background-image: -ms-linear-gradient(bottom, #151617 0%, #000000 100%);
    background-image: -moz-linear-gradient(bottom, #151617 0%, #000000 100%);
    background-image: -o-linear-gradient(bottom, #151617 0%, #000000 100%);
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #151617), color-stop(100, #000000));
    background-image: -webkit-linear-gradient(bottom, #151617 0%, #000000 100%);
    background-image: linear-gradient(to top, #151617 0%, #000000 100%);
}

.about-us {
    position: relative;
    padding: 100px 0px 200px 0px;
    text-align: center;
    background-color: black;
}

.about-us-text {
    font-size: 19px;
    color: #979797;
    webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    letter-spacing: 0.7px;
    opacity: 0;
}

.gallery {
    text-align: center;
    padding: 100px 0px 100px 0px;
}

#gallery-text {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 46px;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    font-weight: 100;
    margin-bottom: 100px;
}

.image-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    width: 100vw;
    margin-bottom: 40px;
    opacity: 0;
}

.template-track {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    will-change: transform;
    transform: translateX(-611.91px) translateY(0px) translateZ(0px) scaleX(1) scaleY(1) scaleZ(1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skewX(0deg) skewY(0deg);
}

.template-wrap {
    overflow: hidden;
    width: 400px;
    height: 250px;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 5px;
    background-color: #ebebeb;
}

.gallery-image {
    width: 100%;
    height: 100%;
}

.cover-image {
    width: 100%;
}

#event-text {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 46px;
    line-height: 110%;
    margin: 2.1rem 0 1.68rem 0;
    font-weight: 100;
    margin-bottom: 100px;
}

.events {
    background-color: #fafafa;
    text-align: center;
    text-justify: inter-word;
    padding: 100px 0px;
}

.div-padding {
    padding: 6px 42px !important;
}

.event-name {
    font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
    font-size: 46px;
    line-height: 110%;
    margin: 0;
    font-weight: 100;
}

.event-tile {
    margin: 80px 0px;
}

.event-type {
    font-size: 24px;
    color: #3d3d3d;
    webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    letter-spacing: 0.7px;
    margin: 10px 0px;
}

.event-desc {
    font-size: 20px;
    color: #767676;
    webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    letter-spacing: 0.4px;
    text-align: justify !important;
    text-justify: inter-word;
}



@-webkit-keyframes Floating {
    0% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
    65% {
        transform: translate(0, -10px) rotate(0.001deg);
    }
    100% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
}

@keyframes Floating {
    0% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
    65% {
        transform: translate(0, -10px) rotate(0.001deg);
    }
    100% {
        transform: translate(0, -20px) rotate(0.001deg);
    }
}

@-webkit-keyframes bright-rotate {
    0% {
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -ms-filter: brightness(100%);
        filter: brightness(100%);
    }
    20% {
        -webkit-filter: brightness(80%);
        -moz-filter: brightness(80%);
        -ms-filter: brightness(80%);
        filter: brightness(80%);
    }
    50% {
        -webkit-filter: brightness(120%);
        -moz-filter: brightness(120%);
        -ms-filter: brightness(120%);
        filter: brightness(120%);
    }
    100% {
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -ms-filter: brightness(100%);
        filter: brightness(100%);
    }
}

@keyframes bright-rotate {
    0% {
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -ms-filter: brightness(100%);
        filter: brightness(100%);
    }
    20% {
        -webkit-filter: brightness(80%);
        -moz-filter: brightness(80%);
        -ms-filter: brightness(80%);
        filter: brightness(80%);
    }
    50% {
        -webkit-filter: brightness(130%);
        -moz-filter: brightness(130%);
        -ms-filter: brightness(130%);
        filter: brightness(120%);
    }
    100% {
        -webkit-filter: brightness(100%);
        -moz-filter: brightness(100%);
        -ms-filter: brightness(100%);
        filter: brightness(100%);
    }
}
