.modal-dialog {
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    padding: 0;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0 !important;
    border: none !important;
}

.event-modal {
    padding: 100px 0px;
}

.event-name-modal {
    text-align: center;
    padding: 15px 0px 15px 0px;
    font-weight: normal;
    color: #303030;
    letter-spacing: 1px;
}

.event-desc-modal {
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 2.3125rem;
    letter-spacing: 1px;
}

.event-desc-modal-li {
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 1px;
}

.modal-button {
    background-color: #e0e0e0;
    border: none;
    display: flex;
    margin: 60px 20px;
    outline: none;
    padding: 10px 13px;
    font-size: 16px;
}

.modal-button-2 {
    background-color: #e0e0e0;
    border: none;
    display: flex;
    margin: 60px auto;
    outline: none;
    padding: 10px 13px;
    font-size: 16px;
}

.width-100 {
    width: 100%;
}

.closebtn-modal {
    display: flex;
    color: black;
    font-size: 46px;
    text-align: left;
    justify-content: flex-end;
}

.closebtn-modal:hover {
    color: black;
    cursor: pointer;
}