.bg {
    width: 100%;
    height: 100%;
}

.bg-image {
    margin: auto;
    background-image: url("../assets/youth_run/youthrun.png");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.youth-run {
    text-align: center;
}

.heading {
    letter-spacing: 2px;
    padding: 15px 0px 15px 0px;
    font-weight: lighter;
    color: #303030;
}

.content {
    font-size: 19px;
    font-weight: 300;
    margin-bottom: 2.3125rem;
    letter-spacing: 0.4px;
    text-align: center;
    text-justify: inter-word;
}

.youth-run-img {
    width: 100%;
    height: 100%;
}